/*
 * Color pallete used: https://coolors.co/001427-708d81-f4d58d-bf0603-8d0801
 * Hex values: #001427, #708d81, #f4d58d, #bf0603, #8d0801.
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #8d0801;
}

a:hover {
  color: #bf0603;
}

.App {
  background-color: #fff;
}

.App-header,
.App-footer {
  margin: 0;
  padding: 0;
  height: 100px;
}

.title,
.author {
  background-color: #fff;
  border: 2px solid #bf0603;
  color: #000;
  margin: auto;
  width: 600px;
}

.title {
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  font-size: 30pt;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  padding-top: 30px;
  height: 100%;
}

.author {
  border-radius: 0 0 10px 10px;
  border-top: none;
  padding-top: 10px;
  text-align: center;
  height: 50%;
}

.container {
  background-color: #bf0603;
  border: 2px solid #bf0603;
  margin: 0 auto;
  height: 400px;
  width: 600px;
}

.container div {
  display: inline-table;
}

.grid {
  background-color: #bf0603;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 250px;
  width: 250px;
  padding: 4px;
  list-style-type: none;
}

.grid li {
  margin: auto;
}

.cell-number {
  border: solid #8d0801;
  border-width: 0 4px 4px 0;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  width: 60px;
  height: 60px;
}

.hidden-number {
  background-color: #8d0801;
  /*border-color: #bf0603;*/
  color: #8d0801;
}

.visible-number {
  background: #fff;
  color: #000;
}

.container p {
  background-color: #fff;
  border: 2px solid #bf0603;
  border-radius: 8px;
  margin: 30px;
  padding: 20px;
  width: 200px;
}

p.solved {
  background-color: #8d0801;
  color: #fff;
  font-size: larger;
  font-weight: 700;
}

p.unsolved {
  background-color: #fff;
  color: #000;
  font-style: italic;
}
